@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=EB+Garamond:wght@400;700&display=swap');

body {
    background-color: rgba(192, 192, 192, 0.603);
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

form {
    width: 350px;
    display: grid;
    gap: 10px;
    font-family: serif;
    background-color: white;
    padding: 25px;
}

p {
    font-family: 'Cabin', sans-serif;
    margin: 3px;
}

h3 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    color: #23316d;
}

input {
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
    border: 1px solid silver;
    height: 1rem;
}

input:focus {
    outline: 1px solid silver;
}


button {
    appearance: none;
    color: aliceblue;
    background-color: black;
    outline: 1px solid aliceblue;
    width: 100px;
    font-family: sans-serif;
    margin-bottom: 25px;
    height: 1.5rem;
}

textarea {
    border: 1px solid silver;
    appearance: none;
    resize: none;
    height: 4em;
}

textarea:focus {
    outline: 1px solid silver;
}

#render-task {
    white-space: pre-wrap;
}

.cv-preview {
    background-color: white;
    width: 700px;
    height: min-content;
    padding: 50px;
}



.general-info h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.experience-content, .education-content {
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr 1fr;
}

.trash {
    display: none;
}

.education-content:hover .trash {
    display: block;
}